body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-container input, .form-container select, .form-container button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.form-container button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #218838;
}

/* Estilos para o formulário oculto */
.formulario-oculto {
    display: none;
    margin-top: 10px;
}

.formulario-oculto input, .formulario-oculto select, .formulario-oculto button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

/* Estilos para o botão "Voltar" */
.formulario-oculto button {
    background-color: #6c757d; /* Cor cinza */
    color: white;
}

.formulario-oculto button:hover {
    background-color: #5a6268; /* Cor cinza mais escura */
}

/* Estilos para a tabela com barra de rolagem */
.tabela-container {
    max-height: 300px; /* Altura máxima da tabela */
    overflow-y: auto;  /* Barra de rolagem vertical */
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f8f9fa;
}

.saldo-container {
    text-align: center;
}

.saldo-container h2 {
    color: #333;
}

#saldoTotal {
    color: #28a745;
}

#totalInvestido {
    color: #007bff;
}

#totalDividendos {
    color: #28a745;
}

/* Estilos para abas */
.abas {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.aba-link {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.aba-link.active {
    background-color: #0056b3;
}

.aba-conteudo {
    display: none;
}

.aba-conteudo.active {
    display: block;
}